matbase/
__pycache__/
*/__pycache__/
wandb/
materials/*
materials_torch.zip


dms_dataset/DMS_v1/images/*
dms_dataset/DMS_v1/images_resized/*
dms_dataset/DMS_v1/labels/*
dms_dataset/DMS_v1/labels_resized/*
dms_dataset/DMS_v1/RGB/*


